<%= render 'books/book', users: @users %>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
    <table class="table">
     <thead>
      <tr>
       <th></th>
        <th>Title</th>
         <th>Opinipn</th>
        <th></th>
      </tr>
    </thead>
<tbody>
   <% @books.each do |books| %>
    <tr>
      <td>
        <%= link_to user_path(books) do %>
        <%= image_tag @user.get_image %>
        <% end %>
        </td>
        <td>
          <%=link_to book_path(books) do %>
          <%= books.title %>
          <% end %>
        </td>
      <td><%= books.body %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>