<div class="container px-5 px-sm-0">
  <div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
      <%= image_tag user.get_image %>
      <table class="table">
        <t-body>
          <tr></tr>
            <tr>
              <th>name</th>
            <th><%= user.name %></th>
            </tr>
          <tr>
        <th>introduction</th>
      <th><%= user.introduction %></th>
    <th></th>
  </tr>
</t-body>
</table>

<div class="row">
<%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
<% end %>
</div>


<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: Book do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title %>

  <h6>Opinion</h6>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>
</div>
