<div class="container">
 <div class="row">
  <div class="col-lg-4" style="background-color: white;">
    <table class = "table table-striped">
    <h1>User info</h1>
      <%= image_tag @user.get_image %>
    <tbody>
      <tr class = "table bg-white">
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr class = "table bg-white">
      <th>introduction</th>
      <th><%= @user.introduction %></th>
      </tr>
      <tr class = "table bg-white">
      <th><%= link_to "user_info", edit_user_registration_path, class: "btn btn-secondary btn-default" %></th>
      </tr>
   </tbody>
   </div>
  </div>
  </div>
</table>

<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: @books.new do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title %>

  <h6>Opinion</h6>
  <%= f.text_area :body %>
  <div>
    <h8><%= link_to 'Create Book', books_path, class: "btn btn-success btn-default" %></h8>
  </div>
<% end %>

<h3>Books</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinipn</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
    <tr>
      <td><%= image_tag @user.get_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
    <% end %>
  </tbody>
</table>
