<%= render 'book', user: @user,book: @book %>

<div class="col-md-8 offset-md-1">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this obj from being saved:
      <ul>
      <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
  <h2>Books</h2>
    </ul>
      <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinipn</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
  <% @books.each do |books| %>
    <tr>
      <td>
        <%= link_to book_path(books) do %>
        <%= image_tag @user.get_image %>
        <% end %>
        </td>
        <td>
          <%=link_to user_path(books) do %>
          <%= books.title %>
          <% end %>
        </td>
      <td><%= books.body %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>
</main>