<h1>User info</h1>
<% @books.each do |book| %>
<%= image_tag list.image, size: "200x200" %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </tbody>
</table>

<li>
  <%= link_to "user_info", edit_user_registration_path %>
</li>
<% end %>

<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: @books.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
